name: chess-opening-analyzer-transform-data
services:
  python:
    build: .
    command: sh -c "python3 csv_to_mongo.py && sleep 30"  # Use the new script
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - MONGO_URI=${MONGO_URI}
      - PYTHONUNBUFFERED=1  # Ensure Python output is not buffered
    networks:
      - api
    deploy:
      resources:
        limits:
          memory: 8G
        reservations:
          memory: 8G
  
networks:
  api:
    name: go-api-network
    external: true